/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root {
  --dark: #1e1e1e;
  --font: 'Poppins', sans-serif;
  --background: #e4f0fb;
  --primary: #2b719a;
  --secondary: #407ea5;
  --tertiary: #5e95b7;
  --quaternary: #75a3c0;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  z-index: -1000;
}

/* Link */
.link {
  position: absolute;
  right: 0;
  top: 0;
  width: 5.85vw;
  height: 5.85vw;
  padding: 1vw; 
  background: var(--dark);
  border-radius: 0 0 0 1vw;
  z-index: 0;
}

.QR-code {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 89vw;
  height: 5.85vw;
  padding: 1vw;
  background: var(--primary);
  border-radius: 0 0 1vw 0;
}

.header-text {
  display: flex;
  flex-wrap: wrap;
  color: var(--background);
  font-family: var(--font);
  font-weight: 700;
  margin: 0;
}

.header-links {
  position: absolute;
  top: 5.6vw;
  right: 9.5vw;
  z-index: 10;
}

.header-text.title {
  font-size: 2.5vw;
  margin-top: -1vw;
}

.header-text.sub-title {
  font-size: 1vw;
}

.github-link {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.15vw;
  cursor: pointer;
}

.github-icon {
  width: 100%;
  height: 100%;
}

/* Centre */
.centre {
  width: 20vw;
  height: 20vw;
  box-sizing: border-box;
  border: 1vw solid var(--background);
  border-radius: 50%;
  background: var(--quinary);
  z-index: 9;
}

/* Section 1 */
.section-1 {
  position: absolute;
  background: var(--primary);
  width: 45vw;
  height: 28.5vh;
  left: 1vw;
  padding: 1vw;
  top: 16vh;
  border-radius: 1vw 0 0 0;
  clip-path: polygon(0% 0%, 91% 0%, 100% 100%, 0% 100%);
}

.section-text {
  font-family: var(--font);
  color: var(--background);
  margin: 0;
}

.section-text.title {
  font-size: 1.5vw;
  font-weight: 700;
}

.section-text.main {
  font-size: 1.1vw;
  margin-bottom: 0.5vw;
  width: 95%;
}

.text-box {
  position: absolute;
  width: 27vw;
  padding: 1vw;
  background: var(--dark);
  border-radius: 1vw;
  transition: 0.3s ease-in-out;
  z-index: 15;
}

.text-box.ghp {
  opacity: 0;
  top: 13.5vh;
  left: 20vw;
}

.text-box.ghp::after {
  content: '';
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 100%;
  height: 0.5vw;
  background: transparent;
}

#ghp-text {
  cursor: pointer;
}

.text-box.ghp.active {
  opacity: 1;
}

.section-text.main.tb {
  margin: 0;
}

.section-text.main.url {
  text-decoration: none;
  color: #73b4d7;
}

/* Section 2 */
.section-2 {
  position: absolute;
  background: var(--secondary);
  width: 45.3vw;
  height: 44.5vh;
  left: 1vw;
  padding: 1vw;
  bottom: 1vw;
  border-radius: 0 0 0 1vw;
  clip-path: polygon(0% 0%, 92% 0%, 100% 100%, 0% 100%);
}

.section-2-content {
  width: 100%;
}

.section-2-content.top {
  width: 95%;
}

.section-2-content.middle {
  display: flex;
  width: 75%;
}

.section-text.main.middle-text-2 {
  position: absolute;
  left: 20vw;
  width: 50%;
}

.section-text.main.middle-text-2.mid {
  top: 14vw;
}

.section-text.main.middle-text-2.bottom {
  top: 21vw;
}

.section-2-graph {
  margin-top: 1vw;
  margin-left: 1vw;
}

.text-box.risk-rating {
  top: 53.5vh;
  left: 28vw;
  height: 18vh;
  opacity: 0;
}

.text-box.text-box.risk-rating.active {
  opacity: 100;
}

.green {
 background: #67B486;
}

.red {
 background: #D94342;
}

.blue {
  background: #485896;
}

.graph-background-1 {
  position: absolute;
  width: 3vw;
  height: 2.6vw;
  left: 15.2vw;
  top: 21.6vw;
  z-index: -1;
}

.graph-background-2 {
  position: absolute;
  width: 6vw;
  height: 2.6vw;
  left: 10vw;
  top: 21.6vw;
  z-index: -1;
}


/* Section 3 */
.section-3 {
  position: absolute;
  background: var(--tertiary);
  width: 55vw;
  height: 44.5vh;
  right: 1vw;
  padding: 1vw;
  bottom: 1vw;
  border-radius: 0 0 1vw 0;
  clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 14% 100%);
}

.section-3-content {
  position: absolute;
  width: 37vw;
  left: 8vw;
}

.section-3-title {
  margin-left: -2vw;
}

/* Diagram */
.flow-diagram {
  width: 40vw;
}

.diagram-point {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  padding: 0.5vw;
  background: var(--background);
  border-radius: 50%;
}

.diagram-circle {
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: 13vw;
  border-radius: 50%;
  border: 1vw solid var(--background); 
  z-index: -2;
}

.diagram-circle-block {
  position: absolute;
  z-index: -1;
  width: 11vw;
  height: 10vw;
  background: var(--tertiary);
  left: -1vw;
  top: -1vw;
}

.diagram-point._1 {
  margin-top: -1.5vw;
  left: 22.5vw;
}

.diagram-point._2 {
  margin-top: 5vw;
  left: 31.5vw;
}

.diagram-point._3 {
  margin-top: 16.5vw;
  left: 28.5vw;
}

.diagram-point._4 {
  margin-top: 17vw;
  left: 15.5vw;
}

.diagram-point._5 {
  margin-top: 7.5vw;
  left: 11.25vw;
}

.diagram-icon {
  width: 95%;
  height: 95%;
}

.diagram-icon.__2, .__5 {
  width: 105%;
  height: 105%;
}

.diagram-icon.__4, .__3 {
  width: 80%;
  height: 80%;
}

.section-text.small-title {
  font-size: 1.2vw;
  font-weight: 700;
}

.diagram-point-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.diagram-point-text._1_ {
  width: 20vw;
  top: -1vw;
  left: 6vw;
}

.diagram-point-text._2_ {
  width: 12vw;
  left: 5vw;
  top: -1vw;
}

.diagram-point-text._3_ {
  width: 16vw;
  left: 4.8vw;
  top: -2vw;
}

.diagram-point-text._4_ {
  width: 15vw;
  left: -15vw;
  top: -1vw;
}

.diagram-point-text._5_ {
  width: 13vw;
  left: -12vw;
  top: -2.5vw;
}

.repeat-points {
  position: absolute;
  top: 14.9vw;
  left: 15vw;
  width: 18vw;
  text-align: center;
}

.repeat-icon {
  position: absolute;
  width: 3vw;
  top: 19.7vw;
  left: 22.7vw;
}

/* Section 4 */
.section-4 {
  position: absolute;
  width: 54vw;
  height: 28vh;
  right: 1vw;
  top: 16vh;
  padding: 1vw;
  background: var(--quaternary);
  border-radius: 0 1vw 0 0;
  clip-path: polygon(4% 0%, 100% 0%, 100% 100%, 11.5% 100%);
}

.section-4-content {
  position: absolute;
  left: 5vw;
}

.section-4-graph-1 {
  position: absolute;
  top: 1vw;
  left: 10vw;
  transform: scale(0.9);
}

.section-4-graph-2 {
  position: absolute;
  top: 1vw;
  left: 30vw;
  transform: scale(0.9);
}

/* Fullscreen Message */
.fullscreen-message {
  position: fixed;
  opacity: 100;
  width: 25vw;
  left: 37.5vw;
  top: 45vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.55);
  padding: 1vw;
  border-radius: 1vw;
  transition: 0.8s opacity ease-out;
}

.fullscreen-message.hidden {
  opacity: 0;
}

.section-text.fs-popup {
  font-size: 1.5vw;
}

.section-text.fs-popup.space {
  border: 0.1vw solid var(--background);
  border-radius: 0.3vw;
  padding: 0.2vw;
}

/* Orientation Message */
.orientation-message {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  transition: none;
}

.orientation-message.hidden {
  display: none;
}

.orientation-message-text {
  font-family: var(--font);
  font-size: 4vw;
}

.orientation-message-icon {
  width: 25vw;
  height: 25vw;
}

/* GraphOne */
.graph-1 {
  position: absolute;
  width: 16vw;
  height: 16vw;
  transform: scale(1.08);
}

.graph-2 {
  position: absolute;
  width: 16vw;
  height: 16vw;
  transform: scale(1.08);
}

.node {
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
  background: var(--background);
  border-radius: 50%;
  z-index: 13;
}

.node.graph-1._0 {
  bottom: 0vw;
  left: 7.5vw;
}

.node.graph-1._1 {
  bottom: 1.5vw;
  left: 7.5vw;
}

.node.graph-1._2 {
  bottom: 4vw;
  left: 6.4vw;
}

.node.graph-1._3 {
  bottom: 4vw;
  left: 7.5vw;
}

.node.graph-1._4 {
  bottom: 4vw;
  left: 8.7vw;
}

.node.graph-1._5 {
  bottom: 1.5vw;
  right: 2.3vw;
}

.node.graph-1._6 {
  bottom: 1.5vw;
  left: 1vw;
}

.node.graph-1._7 {
  bottom: 1.5vw;
  left: 0vw;
}

.node.graph-1._8 {
  bottom: 4vw;
  left: 0vw;
}

.node.graph-1._9 {
  bottom: 4vw;
  left: 1.8vw;
}

.node.graph-1._10 {
  bottom: 7vw;
  left: 0vw;
}

.node.graph-1._11 {
  bottom: 7vw;
  left: 2.5vw;
}

.node.graph-1._12 {
  bottom: 8.7vw;
  left: 1.2vw;
}

.node.graph-1._13 {
  bottom: 10.2vw;
  left: 0.1vw; 
}

.node.graph-1._14 {
  bottom: 10.2vw;
  left: 2vw; 
}

.node.graph-1._15 {
  bottom: 13vw;
  left: 3.2vw; 
}

.node.graph-1._16 {
  bottom: 10.2vw;
  left: 4.4vw; 
}

.node.graph-1._17 {
  bottom: 7vw;
  left: 5.3vw; 
}

.node.graph-1._18 {
  bottom: 7vw;
  left: 7.5vw; 
}

.node.graph-1._19 {
  bottom: 10.2vw;
  left: 7.5vw;
}

.node.graph-1._20 {
  bottom: 13.5vw;
  left: 7.5vw;
}
.node.graph-1._21 {
  top: 0vw;
  left: 7.5vw;
}

.node.graph-1._22 {
  bottom: 12.3vw;
  left: 11.5vw;
}

.node.graph-1._23 {
  bottom: 10.2vw;
  left: 9.1vw;
}

.node.graph-1._24 {
  bottom: 10.2vw;
  left: 13vw;
}

.node.graph-1._25 {
  bottom: 10.2vw;
  left: 15.2vw;
}

.node.graph-1._26 {
  bottom: 8.2vw;
  left: 14.2vw;
}

.node.graph-1._27 {
  bottom: 7vw;
  left: 15.2vw;
}

.node.graph-1._28 {
  bottom: 7vw;
  left: 13.2vw;
}

.node.graph-1._29 {
  bottom: 7vw;
  left: 10.5vw;
}

.node.graph-1._30 {
  bottom: 4vw;
  left: 12.3vw;
}

.node.graph-1._31 {
  bottom: 4vw;
  left: 15.2vw;
}

.node.graph-1._32 {
  bottom: 1.5vw;
  left: 15.2vw;
}

.edge {
  position: absolute;
  background: var(--background)
}

.edge.graph-1._0 {
  left: 7.8vw;
  bottom: 0.1vw;
  height: 1.6vw;
  width: 0.2vw;
}

.edge.graph-1._1 {
  left: 7.1vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(-24deg);
}

.edge.graph-1._2 {
  left: 7.8vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
}

.edge.graph-1._3 {
  left: 8.5vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(24deg);
}

.edge.graph-1._4 {
  left: 7.7vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 5.5vw;
}

.edge.graph-1._5 {
  left: 1.4vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 6.4vw;
}

.edge.graph-1._6 {
  left: 7vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 1vw;
}

.edge.graph-1._7 {
  left: 8vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 1vw;
}

.edge.graph-1._8 {
  left: 2vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 4.5vw;
}

.edge.graph-1._9 {
  left: 6.1vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-20deg);
}

.edge.graph-1._10 {
  left: 7.8vw;
  bottom: 4.5vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._11 {
  left: 10vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(30deg);
}

.edge.graph-1._12 {
  left: 9.5vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 3vw;
}

.edge.graph-1._13 {
  left: 11.7vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-30deg);
}

.edge.graph-1._14 {
  right: 2.9vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(-14deg);
}

.edge.graph-1._15 {
  left: 13.5vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._16 {
  right: 0.3vw;
  bottom: 1.7vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._17 {
  left: 12.5vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 3vw;
}

.edge.graph-1._18 {
  right: 0.3vw;
  bottom: 4.5vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._19 {
  left: 13.1vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(18deg);
}

.edge.graph-1._20 {
  right: 0.7vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 1.6vw;
}

.edge.graph-1._21 {
  left: 14vw;
  bottom: 7.5vw;
  height: 1vw;
  width: 0.2vw;
  transform: rotate(32deg);
}

.edge.graph-1._22 {
  left: 15vw;
  bottom: 7.5vw;
  height: 1Vw;
  width: 0.2vw;
  transform: rotate(-34deg);
}

.edge.graph-1._23 {
  right: 2.7vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.5vw;
}

.edge.graph-1._24 {
  left: 7.9vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.8vw;
}

.edge.graph-1._25 {
  left: 6vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 1.7vw;
}

.edge.graph-1._26 {
  left: 10.1vw;
  bottom: 7.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-25deg);
}

.edge.graph-1._27 {
  left: 14vw;
  bottom: 8.4vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(-30deg);
}

.edge.graph-1._28 {
  left: 15vw;
  bottom: 8.4vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(28deg);
}

.edge.graph-1._29 {
  right: 0.2vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2.2vw;
}

.edge.graph-1._30 {
  left: 13.7vw;
  bottom: 9.9vw;
  height: 3.5vw;
  width: 0.2vw;
  transform: rotate(-60deg);
}

.edge.graph-1._31 {
  left: 12.6vw;
  bottom: 10.6vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(-35deg);
}

.edge.graph-1._32 {
  right: 2.5vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 3.8vw;
}

.edge.graph-1._33 {
  left: 10vw;
  bottom: 11.3vw;
  height: 4vw;
  width: 0.2vw;
  transform: rotate(-72deg);
}

.edge.graph-1._34 {
  left: 8.7vw;
  bottom: 10.7vw;
  height: 3.2vw;
  width: 0.2vw;
  transform: rotate(-24deg);
}

.edge.graph-1._35 {
  left: 7.8vw;
  bottom: 14.2vw;
  height: 1.1vw;
  width: 0.2vw;
}

.edge.graph-1._36 {
  left: 7.8vw;
  bottom: 10.9vw;
  height: 2.7svw;
  width: 0.2vw;
}

.edge.graph-1._37 {
  left: 7.7vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._38 {
  left: 5vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2.7vw;
}

.edge.graph-1._39 {
  left: 5.5vw;
  bottom: 11.7vw;
  height: 4vw;
  width: 0.2vw;
  transform: rotate(83deg);
}

.edge.graph-1._40 {
  left: 4.1vw;
  bottom: 10.7vw;
  height: 2.6vw;
  width: 0.2vw;
  transform: rotate(-24deg);
}

.edge.graph-1._41 {
  left: 2.5vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._42 {
  left: 2.9vw;
  bottom: 10.7vw;
  height: 2.6vw;
  width: 0.2vw;
  transform: rotate(24deg);
}

.edge.graph-1._43 {
  left: 0.2vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2.4vw;
}

.edge.graph-1._44 {
  left: 1vw;
  bottom: 8.6vw;
  height: 1.9vw;
  width: 0.2vw;
  transform: rotate(-35deg);
}

.edge.graph-1._45 {
  left: 1.8vw;
  bottom: 8.6vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(30deg);
}

.edge.graph-1._46 {
  left: 3.8vw;
  bottom: 7.4vw;
  height: 3.5vw;
  width: 0.2vw;
  transform: rotate(30deg);
}

.edge.graph-1._47 {
  left: 5.2vw;
  bottom: 7.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-17deg);
}

.edge.graph-1._48 {
  left: 7.8vw;
  bottom: 7.5vw;
  height: 2.8svw;
  width: 0.2vw;
}

.edge.graph-1._49 {
  left: 2.2vw;
  bottom: 7.5vw;
  height: 1.6vw;
  width: 0.2vw;
  transform: rotate(-34deg);
}

.edge.graph-1._50 {
  left: 0.8vw;
  bottom: 7.5vw;
  height: 1.5vw;
  width: 0.2vw;
  transform: rotate(34deg);
}

.edge.graph-1._51 {
  left: 0.2vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.5vw;
}

.edge.graph-1._52 {
  left: 2.7vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.8vw;
}

.edge.graph-1._53 {
  left: 0.3vw;
  bottom: 4.5vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._54 {
  left: 2.5vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(15deg);
}

.edge.graph-1._55 {
  left: 0.2vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._56 {
  left: 0.3vw;
  bottom: 1.7vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._57 {
  left: 1.8vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(19deg);
}

.edge.graph-1._58 {
  left: 0.2vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 0.9vw;
}

.edge-label {
  position: absolute;
  font-family: var(--font);
  color: var(--background);
  font-size: 0.75vw;
}

.edge-label.__0_ {
  left: 0.5vw;
}

.edge-label.__1_ {
  left: -1vw;
  top: 0.4vw;
  transform: rotate(24deg);
}

.edge-label.__2_ {
  left: 0.1vw;
  top: 0.25vw;
  transform: scale(0.4);
}

.edge-label.__3_ {
  left: 0.5vw;
  top: 0.4vw;
  transform: rotate(-24deg);
}

.edge-label.__4_ {
  top: 0.2vw;
  left: 2.25vw;
}

.edge-label.__5_ {
  top: 0.2vw;
  left: 2.25vw;
}

.edge-label.__6_ {
  transform: scale(0.2);
  top: -0.2vw;
  left: -0.05vw;
}

.edge-label.__7_ {
  transform: scale(0.2);
  top: -0.2vw;
  left: -0.05vw;
}

.edge-label.__8_ {
  top: 0.2vw;
  left: 2vw;
}

.edge-label.__9_ {
  top: 0.6vw;
  left: -1vw;
  transform: rotate(20deg);
}

.edge-label.__10_ {
  top: 0.6vw;
  left: 0.4vw;
}

.edge-label.__11_ {
  top: 0.8vw;
  left: 0.4vw;
  transform: rotate(-30deg);
}

.edge-label.__12_ {
  top: 0.2vw;
  left: 0.6vw;
}

.edge-label.__13_ {
  top: 1vw;
  left: 0.3vw;
  transform: rotate(30deg) scale(0.8);
}

.edge-label.__14_ {
  top: 1vw;
  left: 0.3vw;
  transform: rotate(13deg) scale(0.8);
}

.edge-label.__15_ {
  top: 0.2vw;
  left: 0.4vw;
}

.edge-label.__16_ {
  top: 0.5vw;
  left: 0.4vw;
}

.edge-label.__17_ {
  left: 1vw;
  transform: scale(0.8);
}

.edge-label.__18_ {
  top: 0.5vw;
  left: 0.4vw;
}

.edge-label.__19_ {
  top: 0.8vw;
  left: 0.4vw;
  transform: rotate(-18deg);
}

.edge-label.__20_ {
  top: 0.2vw;
  left: 0.4vw;
}

.edge-label.__21_ {
  left: -1vw;
  transform: rotate(-32deg);
}

.edge-label.__22_ {
  top: 0.1vw;
  left: 0.5vw;
  transform: rotate(34deg);
}

.edge-label.__23_ {
  left: 1vw;
  transform: scale(0.8);
}

.edge-label.__24_ {
  top: 0.2vw;
  left: 0.7vw;
}

.edge-label.__25_ {
  top: 0.2vw;
  left: 0.3vw;
}

.edge-label.__26_ {
  left: 0.6vw;
  top: 1.4vw;
  transform: rotate(26deg);
}

.edge-label.__27_ {
  left: -1.1vw;
  transform: rotate(30deg);
}

.edge-label.__28_ {
  left: 0.3vw;
  transform: rotate(-28deg);
}

.edge-label.__29_ {
  left: 0.5vw;
  transform: scale(0.8);
}

.edge-label.__30_ {
  left: 0.4vw;
  top: 1.2vw;
  transform: rotate(59deg);
}

.edge-label.__31_ {
  left: -1vw;
  transform: rotate(35deg);
}

.edge-label.__32_ {
  top: 0.1vw;
  left: 1.2vw;
}

.edge-label.__33_ {
  left: 0.4vw;
  top: 1.2vw;
  transform: rotate(72deg);
}

.edge-label.__34_ {
  left: 0.4vw;
  top: 1.2vw;
  transform: rotate(22deg);
}

.edge-label.__35_ {
  top: 0.2vw;
  left: 0.3vw;
}

.edge-label.__36_ {
  left: 0.1vw;
  top: 1.5vw;
  transform: scale(0.6);
}

.edge-label.__37_ {
  left: 0.45vw;
  transform: scale(0.8);
}

.edge-label.__38_ {
  left: 1vw;
  transform: scale(0.8);
}

.edge-label.__39_ {
  left: -1vw;
  top: 1vw;
  transform: rotate(-85deg);
}

.edge-label.__40_ {
  left: 0.5vw;
  top: 1vw;
  transform: rotate(24deg);
}

.edge-label.__41_ {
  top: 0.1vw;
  left: 0.5vw;
}

.edge-label.__42_ {
  left: -1.2vw;
  top: 0.7vw;
  transform: rotate(-24deg);
}

.edge-label.__42_ {
  left: -1.2vw;
  top: 0.7vw;
  transform: rotate(-24deg);
}

.edge-label.__43_ {
  left: 0.7vw;
  top: -1.1vw;
}

.edge-label.__44_ {
  left: -1.2vw;
  top: -0.1vw;
  transform: rotate(35deg);
}

.edge-label.__45_ {
  left: 0.3vw;
  top: 0.1vw;
  transform: scale(0.8) rotate(-30deg);
}

.edge-label.__46_ {
  left: 0.2vw;
  top: 1.1vw;
  transform: rotate(-30deg);
}

.edge-label.__47_ {
  left: 0.5vw;
  top: 1.2vw;
  transform: rotate(16deg);
}

.edge-label.__48_ {
  left: 0.5vw;
  top: 0.8vw;
}

.edge-label.__49_ {
  top: 0.2vw;
  left: -1.1vw;
  transform: rotate(35deg);
}

.edge-label.__50_ {
  top: 0.4vw;
  left: -1.1vw;
  transform: rotate(-35deg);
}

.edge-label.__51_ {
  top: 0.2vw;
  left: 1vw;
}

.edge-label.__52_ {
  top: 0.2vw;
  left: 1.1vw;
}

.edge-label.__53_ {
  left: 0.3vw;
  top: 0.6vw;
}

.edge-label.__54_ {
  left: 0.3vw;
  top: 0.9vw;
  transform: rotate(-15deg);
}

.edge-label.__55_ {
  left: -1vw;
  top: 0.9vw;
}

.edge-label.__56_ {
  top: 0.2vw;
  left: 0.4vw;
}

.edge-label.__57_ {
  left: 0.4vw;
  top: 0.5vw;
  transform: rotate(-20deg);
}

.edge-label.__58_ {
  top: 0.3vw;
  left: 0.2vw;
}


/* GraphTwo */
.edge.graph-2 {
  width: 0.1vw;
}

.node.graph-2._00 {
  top: 14.75vw;
  left: 4.5vw;
}

.node.graph-2._01 {
  top: 8.5vw;
  left: 1vw;
}

.node.graph-2._02 {
  top: 10.5vw;
  left: 4.5vw;
}

.node.graph-2._03 {
  top: 11.75vw;
  left: 7vw;
}

.node.graph-2._04 {
  top: 13.5vw;
  left: 10.5vw;
}

.node.graph-2._05 {
  top: 15.25vw;
  left: 11.25vw;
}

.node.graph-2._06 {
  top: 9vw;
  left: 4.75vw;
}

.node.graph-2._07 {
  top: 9.5vw;
  left: 8.75vw;
}

.node.graph-2._08 {
  top: 15vw;
  left: 13.5vw;
}

.node.graph-2._09 {
  top: 6vw;
  left: 5.5vw;
}

.node.graph-2._010 {
  top: 2vw;
  left: 5.7vw;
}

.node.graph-2._011 {
  top: 5.2vw;
  left: 7.25vw;
}

.node.graph-2._012 {
  top: 7vw;
  left: 11vw;
}

.node.graph-2._013 {
  top: 8.5vw;
  left: 11.6vw;
}

.node.graph-2._014 {
  top: 10.25vw;
  left: 11.8vw;
}

.node.graph-2._015 {
  top: 1.25vw;
  left: 10vw;
}

.node.graph-2._016 {
  top: 4.25vw;
  left: 10.25vw;
}

.node.graph-2._017 {
  top: 3.9vw;
  left: 11.5vw;
}

.node.graph-2._018 {
  top: 5.75vw;
  left: 12.75vw;
}

.node.graph-2._019 {
  top: 10.75vw;
  left: 14vw;
}

.node.graph-2._020 {
  top: 7.75vw;
  left: 14.25vw;
}

.node.graph-2._021 {
  top: 11.25vw;
  left: 17vw;
}

.node.graph-2._022 {
  top: 14vw;
  left: 18vw;
}

.node.graph-2._023 {
  top: 2vw;
  left: 14vw;
}

.node.graph-2._024 {
  top: 2.75vw;
  left: 15.5vw;
}

.node.graph-2._025 {
  top: 6vw;
  left: 19.5vw;
}

.node.graph-2._026 {
  top: 1.25vw;
  left: 16vw;
}