/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root {
  --dark: #1e1e1e;
  --font: 'Poppins', sans-serif;
  --background: #e4f0fb;
  --primary: #2b719a;
  --secondary: #407ea5;
  --tertiary: #4c87ab;
  --quaternary: #5e95b7;
  --quinary: #75a3c0;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  z-index: -1000;
}

/* Link */
.link {
  position: fixed;
  right: 0;
  top: 0;
  width: 5.85   vw;
  height: 5.85vw;
  padding: 1vw; 
  background: var(--dark);
  border-radius: 0 0 0 1vw;
  z-index: 0;
}

.QR-code {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 89.2vw;
  height: 5.85vw;
  padding: 1vw;
  background: var(--primary);
  border-radius: 0 0 1vw 0;
}

.header-text {
  display: flex;
  flex-wrap: wrap;
  color: var(--background);
  font-family: var(--font);
  font-weight: 700;
  margin: 0;
}

.header-links {
  position: absolute;
  top: 5.6vw;
  right: 9.5vw;
  z-index: 10;
}

.header-text.title {
  font-size: 2.5vw;
  margin-top: -1vw;
}

.header-text.sub-title {
  font-size: 1vw;
}

.github-link {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.15vw;
  cursor: pointer;
}

.github-icon {
  width: 100%;
  height: 100%;
}

/* Centre */
.centre {
  width: 20vw;
  height: 20vw;
  box-sizing: border-box;
  border: 1vw solid var(--background);
  border-radius: 50%;
  background: var(--quinary);
  z-index: 9;
}

/* Section 1 */
.section-1 {
  position: absolute;
  background: var(--primary);
  width: 45vw;
  height: 28.5vh;
  left: 1vw;
  padding: 1vw;
  top: 16vh;
  border-radius: 1vw 0 0 0;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.section-text {
  font-family: var(--font);
  color: var(--background);
  margin: 0;
}

.section-text.title {
  font-size: 1.5vw;
  font-weight: 700;
}

.section-text.main {
  font-size: 1.1vw;
  margin-bottom: 0.5vw;
  width: 90%;
}

.section-text.main.bottom {
  width: 80%;
}

.text-box {
  position: absolute;
  width: 27vw;
  padding: 1vw;
  background: var(--dark);
  border-radius: 1vw;
  transition: 0.3s ease-in-out;
  z-index: 15;
}

.text-box.ghp {
  opacity: 0;
  top: 13.5vh;
  left: 20vw;
}

.text-box.ghp::after {
  content: '';
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  width: 100%;
  height: 0.5vw;
  background: transparent;
}

#ghp-text {
  cursor: pointer;
}

.text-box.ghp.active {
  opacity: 1;
}

.section-text.main.tb {
  margin: 0;
}

.section-text.main.url {
  text-decoration: none;
  color: #73b4d7;
}

/* Section 2 */
.section-2 {
  position: absolute;
  background: var(--secondary);
  width: 60vw;
  height: 44.5vh;
  left: 1vw;
  padding: 1vw;
  bottom: 1vw;
  border-radius: 0 0 0 1vw;
  clip-path: polygon(0% 0%, 92% 0%, 100% 100%, 0% 100%);
}

.section-2-content {
  width: 100%;
}

.section-2-content.top {
  width: 68%;
}

.section-2-content.middle {
  display: flex;
  width: 75%;
}

.section-text.main.middle-text-2 {
  position: absolute;
  left: 19vw;
  width: 40%;
}

.section-text.main.middle-text-2.full {
  top: 12.5vw;
  width: 62%;
}

.section-text.main.middle-text-2.bottom {
  top: 18vw;
  width: 65%;
}


/* Section 3 */
.section-3 {
  position: absolute;
  background: var(--tertiary);
  width: 39vw;
  height: 45vh;
  right: 1vw;
  padding: 1vw;
  bottom: 1vw;
  border-radius: 0 0 1vw 0;
  clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 16% 100%);
}

.section-text.title.left-margin {
  margin-left: 3vw;
}

.section-text.main.left-margin {
  margin-left: 3vw;
}

/* Section 4 */
.section-4 {
  position: absolute;
  width: 54vw;
  height: 28vh;
  right: 1vw;
  top: 16vh;
  padding: 1vw;
  background: var(--quaternary);
  border-radius: 0 1vw 0 0;
  clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 11.5% 100%);
}

/* Fullscreen Message */
.fullscreen-message {
  position: fixed;
  opacity: 100;
  width: 25vw;
  left: 37.5vw;
  top: 45vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.55);
  padding: 1vw;
  border-radius: 1vw;
  transition: 0.8s opacity ease-out;
}

.fullscreen-message.hidden {
  opacity: 0;
}

.section-text.fs-popup {
  font-size: 1.5vw;
}

.section-text.fs-popup.space {
  border: 0.1vw solid var(--background);
  border-radius: 0.3vw;
  padding: 0.2vw;
}

/* Orientation Message */
.orientation-message {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  transition: none;
}

.orientation-message.hidden {
  display: none;
}

.orientation-message-text {
  font-family: var(--font);
  font-size: 4vw;
}

.orientation-message-icon {
  width: 25vw;
  height: 25vw;
}

/* GraphOne */
.section-2-graph {
  margin-top: 1vw;
  margin-left: 0.5vw;
}

.graph-1 {
  position: absolute;
  width: 16vw;
  height: 16vw;
}

.graph-1 {
  transform: scale(1.1);
}

.node {
  position: absolute;
  width: 0.8vw;
  height: 0.8vw;
  background: var(--background);
  border-radius: 50%;
  z-index: 13;
}

.node.graph-1._0 {
  bottom: 0vw;
  left: 7.5vw;
}

.node.graph-1._1 {
  bottom: 1.5vw;
  left: 7.5vw;
}

.node.graph-1._2 {
  bottom: 4vw;
  left: 6.4vw;
}

.node.graph-1._3 {
  bottom: 4vw;
  left: 7.5vw;
}

.node.graph-1._4 {
  bottom: 4vw;
  left: 8.7vw;
}

.node.graph-1._5 {
  bottom: 1.5vw;
  right: 2.3vw;
}

.node.graph-1._6 {
  bottom: 1.5vw;
  left: 1vw;
}

.node.graph-1._7 {
  bottom: 1.5vw;
  left: 0vw;
}

.node.graph-1._8 {
  bottom: 4vw;
  left: 0vw;
}

.node.graph-1._9 {
  bottom: 4vw;
  left: 1.8vw;
}

.node.graph-1._10 {
  bottom: 7vw;
  left: 0vw;
}

.node.graph-1._11 {
  bottom: 7vw;
  left: 2.5vw;
}

.node.graph-1._12 {
  bottom: 8.7vw;
  left: 1.2vw;
}

.node.graph-1._13 {
  bottom: 10.2vw;
  left: 0.1vw; 
}

.node.graph-1._14 {
  bottom: 10.2vw;
  left: 2vw; 
}

.node.graph-1._15 {
  bottom: 13vw;
  left: 3.2vw; 
}

.node.graph-1._16 {
  bottom: 10.2vw;
  left: 4.4vw; 
}

.node.graph-1._17 {
  bottom: 7vw;
  left: 5.3vw; 
}

.node.graph-1._18 {
  bottom: 7vw;
  left: 7.5vw; 
}

.node.graph-1._19 {
  bottom: 10.2vw;
  left: 7.5vw;
}

.node.graph-1._20 {
  bottom: 13.5vw;
  left: 7.5vw;
}
.node.graph-1._21 {
  top: 0vw;
  left: 7.5vw;
}

.node.graph-1._22 {
  bottom: 12.3vw;
  left: 11.5vw;
}

.node.graph-1._23 {
  bottom: 10.2vw;
  left: 9.1vw;
}

.node.graph-1._24 {
  bottom: 10.2vw;
  left: 13vw;
}

.node.graph-1._25 {
  bottom: 10.2vw;
  left: 15.2vw;
}

.node.graph-1._26 {
  bottom: 8.2vw;
  left: 14.2vw;
}

.node.graph-1._27 {
  bottom: 7vw;
  left: 15.2vw;
}

.node.graph-1._28 {
  bottom: 7vw;
  left: 13.2vw;
}

.node.graph-1._29 {
  bottom: 7vw;
  left: 10.5vw;
}

.node.graph-1._30 {
  bottom: 4vw;
  left: 12.3vw;
}

.node.graph-1._31 {
  bottom: 4vw;
  left: 15.2vw;
}

.node.graph-1._32 {
  bottom: 1.5vw;
  left: 15.2vw;
}

.edge {
  position: absolute;
  background: var(--background)
}

.edge.graph-1._0 {
  left: 7.8vw;
  bottom: 0.1vw;
  height: 1.6vw;
  width: 0.2vw;
}

.edge.graph-1._1 {
  left: 7.1vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(-24deg);
}

.edge.graph-1._2 {
  left: 7.8vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
}

.edge.graph-1._3 {
  left: 8.5vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(24deg);
}

.edge.graph-1._4 {
  left: 7.7vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 5.5vw;
}

.edge.graph-1._5 {
  left: 1.4vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 6.4vw;
}

.edge.graph-1._6 {
  left: 7vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 1vw;
}

.edge.graph-1._7 {
  left: 8vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 1vw;
}

.edge.graph-1._8 {
  left: 2vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 4.5vw;
}

.edge.graph-1._9 {
  left: 6.1vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-20deg);
}

.edge.graph-1._10 {
  left: 7.8vw;
  bottom: 4.5vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._11 {
  left: 10vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(30deg);
}

.edge.graph-1._12 {
  left: 9.5vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 3vw;
}

.edge.graph-1._13 {
  left: 11.7vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-30deg);
}

.edge.graph-1._14 {
  right: 2.9vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(-14deg);
}

.edge.graph-1._15 {
  left: 13.5vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._16 {
  right: 0.3vw;
  bottom: 1.7vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._17 {
  left: 12.5vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 3vw;
}

.edge.graph-1._18 {
  right: 0.3vw;
  bottom: 4.5vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._19 {
  left: 13.1vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(18deg);
}

.edge.graph-1._20 {
  right: 0.7vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 1.6vw;
}

.edge.graph-1._21 {
  left: 14vw;
  bottom: 7.5vw;
  height: 1vw;
  width: 0.2vw;
  transform: rotate(32deg);
}

.edge.graph-1._22 {
  left: 15vw;
  bottom: 7.5vw;
  height: 1Vw;
  width: 0.2vw;
  transform: rotate(-34deg);
}

.edge.graph-1._23 {
  right: 2.7vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.5vw;
}

.edge.graph-1._24 {
  left: 7.9vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.8vw;
}

.edge.graph-1._25 {
  left: 6vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 1.7vw;
}

.edge.graph-1._26 {
  left: 10.1vw;
  bottom: 7.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-25deg);
}

.edge.graph-1._27 {
  left: 14vw;
  bottom: 8.4vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(-30deg);
}

.edge.graph-1._28 {
  left: 15vw;
  bottom: 8.4vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(28deg);
}

.edge.graph-1._29 {
  right: 0.2vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2.2vw;
}

.edge.graph-1._30 {
  left: 13.7vw;
  bottom: 9.9vw;
  height: 3.5vw;
  width: 0.2vw;
  transform: rotate(-60deg);
}

.edge.graph-1._31 {
  left: 12.6vw;
  bottom: 10.6vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(-35deg);
}

.edge.graph-1._32 {
  right: 2.5vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 3.8vw;
}

.edge.graph-1._33 {
  left: 10vw;
  bottom: 11.3vw;
  height: 4vw;
  width: 0.2vw;
  transform: rotate(-72deg);
}

.edge.graph-1._34 {
  left: 8.7vw;
  bottom: 10.7vw;
  height: 3.2vw;
  width: 0.2vw;
  transform: rotate(-24deg);
}

.edge.graph-1._35 {
  left: 7.8vw;
  bottom: 14.2vw;
  height: 1.1vw;
  width: 0.2vw;
}

.edge.graph-1._36 {
  left: 7.8vw;
  bottom: 10.9vw;
  height: 2.7svw;
  width: 0.2vw;
}

.edge.graph-1._37 {
  left: 7.7vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._38 {
  left: 5vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2.7vw;
}

.edge.graph-1._39 {
  left: 5.5vw;
  bottom: 11.7vw;
  height: 4vw;
  width: 0.2vw;
  transform: rotate(83deg);
}

.edge.graph-1._40 {
  left: 4.1vw;
  bottom: 10.7vw;
  height: 2.6vw;
  width: 0.2vw;
  transform: rotate(-24deg);
}

.edge.graph-1._41 {
  left: 0.2vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2.4vw;
}

.edge.graph-1._42 {
  left: 2.9vw;
  bottom: 10.7vw;
  height: 2.6vw;
  width: 0.2vw;
  transform: rotate(24deg);
}

.edge.graph-1._43 {
  left: 2.5vw;
  bottom: 10.5vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._44 {
  left: 1vw;
  bottom: 8.6vw;
  height: 1.9vw;
  width: 0.2vw;
  transform: rotate(-35deg);
}

.edge.graph-1._45 {
  left: 1.8vw;
  bottom: 8.6vw;
  height: 2vw;
  width: 0.2vw;
  transform: rotate(30deg);
}

.edge.graph-1._46 {
  left: 3.8vw;
  bottom: 7.4vw;
  height: 3.5vw;
  width: 0.2vw;
  transform: rotate(30deg);
}

.edge.graph-1._47 {
  left: 5.2vw;
  bottom: 7.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(-17deg);
}

.edge.graph-1._48 {
  left: 7.8vw;
  bottom: 7.5vw;
  height: 2.8svw;
  width: 0.2vw;
}

.edge.graph-1._49 {
  left: 2.2vw;
  bottom: 7.5vw;
  height: 1.6vw;
  width: 0.2vw;
  transform: rotate(-34deg);
}

.edge.graph-1._50 {
  left: 0.8vw;
  bottom: 7.5vw;
  height: 1.5vw;
  width: 0.2vw;
  transform: rotate(34deg);
}

.edge.graph-1._51 {
  left: 0.2vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.5vw;
}

.edge.graph-1._52 {
  left: 2.7vw;
  bottom: 7.3vw;
  height: 0.2vw;
  width: 2.8vw;
}

.edge.graph-1._53 {
  left: 0.3vw;
  bottom: 4.5vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._54 {
  left: 2.5vw;
  bottom: 4.5vw;
  height: 3vw;
  width: 0.2vw;
  transform: rotate(15deg);
}

.edge.graph-1._55 {
  left: 0.2vw;
  bottom: 4.25vw;
  height: 0.2vw;
  width: 2vw;
}

.edge.graph-1._56 {
  left: 0.3vw;
  bottom: 1.7vw;
  height: 2.6vw;
  width: 0.2vw;
}

.edge.graph-1._57 {
  left: 1.8vw;
  bottom: 2vw;
  height: 2.5vw;
  width: 0.2vw;
  transform: rotate(19deg);
}

.edge.graph-1._58 {
  left: 0.2vw;
  bottom: 1.75vw;
  height: 0.2vw;
  width: 0.9vw;
}